@page "/mood-tracking"


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(activeTab == 0 ? "active" : "")" @onclick="() => ActivateTab(0)">Active Moods</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(activeTab == 1 ? "active" : "")" @onclick="() => ActivateTab(1)">Create a Mood</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(activeTab == 2 ? "active" : "")" @onclick="() => ActivateTab(2)">Previous Moods</a>
    </li>
</ul>

<br />

@if(activeTab == 0)
{
    <div>
        <h3>Your daily moods</h3>
        <br />
        <div class="alert alert-primary" role="alert">
           These are your moods for today. You cannot edit/update a mood once, it's submitted.
        </div>
        <PresentMoodsViewer />
    </div>
} else if (activeTab == 1)
{
    <div>
        <h3>Create a mood</h3>
        <CreateMoods />
    </div>
} else if(activeTab == 2)
{
    <div>
        <h3>All moods</h3>
        <br />
        <div class="alert alert-primary" role="alert">
           These are all your moods submitted throughout. These mood data help us in analyzing various mood factors.
        </div>
        <AllMoods />
    </div>
}

@code {
    private int activeTab = 0;
    private void ActivateTab(int tab)
    {
        activeTab = tab;
    }

}
