<div class="box">
    <div class="bar">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="box-content">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/myspace" style="font-size:25px; color: #000;">My Space</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myspace" Match="NavLinkMatch.All">
                        <span class="ms-2" style="color: #000;">What's Happening?</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                        <span class="ms-2" style="color: #000;">Storyboards</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myspace/recommendation">
                        <span class="ms-2" style="color: #000;">Recommendations</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myspace/chatbot" Match="NavLinkMatch.All">
                        <span class="ms-2" style="color: #000;">Chat with Maya</span>
            </NavLink>
        </div>


    </nav>
</div>
</div>
</div>
