<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/myspace">My Space</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myspace" Match="NavLinkMatch.All">
                <span class="ms-2">What's Happening?</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="ms-2">Storyboards</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="ms-2">Recommendations</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myspace/chatbot" Match="NavLinkMatch.All">
                <span class="ms-2">Chat with Maya</span>
            </NavLink>
        </div>


    </nav>
</div>

