@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<h1>Welcome to Wellbeing!</h1>

@if (isLogged)
{

}
else
{
    <p>Login or Register to continue.</p>
}

@code {
    bool isLogged;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authToken = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
            if (!string.IsNullOrEmpty(authToken))
            {
                if (authToken.Contains("ey"))
                {
                    Console.WriteLine("AuthToken retrieved from localStorage: " + authToken);
                    isLogged = true;
                    StateHasChanged();
                }
                else
                {
                    isLogged = false;
                    StateHasChanged();
                }
            }
            else
            {
                Console.WriteLine("AuthToken not found in localStorage.");
                isLogged = false;
            }
        }
    }
}
