@page "/"
@using static BlazorApp.Custom.Register
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<h1>Wellbeing</h1>
<br />
<br />

<div class="container overflow-hidden">
    <div class="row">
        <div class="col">
            <div id="homePageDiv">
                @if (isCheckingAuth)
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                        <Spinner Color="SpinnerColor.Primary" />
                    </div>
                }
                else
                {
                    @if (isLogged)
                    {
                        <div class="row">
                            <div class="col">
                                <h4>Hi there @userInfo.Nickname </h4>
                            </div>
                            <div class="col text-end">
                                <p> You are logged in as: @userInfo.Email</p>
                            </div>
                        </div>

                        @if (!userInfo.EmailVerified)
                        {
                            <div class="alert alert-warning" role="alert">
                                You're email is not verified.
                                <button type="button" @onclick="() => ResendEmailVerification(userInfo.Subject)" class="btn btn-light" disabled="@emailVerificationSent">Verify now</button>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(evError))
                        {
                            <div class="alert alert-danger" role="alert">
                                @evError
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(evSuccess))
                        {
                            <div class="alert alert-success" role="alert">
                                @evSuccess
                            </div>
                        }
                    }

                    <p style="font-size: 20px">Welcome to Wellbeing. Wellbeing is your health partner that can track your moods, journals and improve your overall mental health and wellbeing. </p>
                    <br />

                    @if (isLogged)
                    {
                        <button type="button" class="btn btn-primary" onclick="window.location.href='/dashboard'">Go to Dashboard</button>
                    }

                    @if (!isLogged)
                    {
                        <h5>Login or Register to get started!</h5>
                    }
                }
            </div>
        </div>
        <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1030.57471 696.9775" xmlns:xlink="http://www.w3.org/1999/xlink"><title>i can fly</title><path d="M831.93752,263.72788a60.64529,60.64529,0,0,1,60.56127-57.47579c1.84313,0,3.66317.09612,5.46442.25711a80.5744,80.5744,0,0,1,139.28388-.06586c1.51962-.11413,3.04946-.19125,4.59825-.19125a60.6453,60.6453,0,0,1,60.56127,57.47579" transform="translate(-84.96231 -101.26125)" fill="#f2f2f2" /><path d="M844.5686,259.06279A60.64529,60.64529,0,0,1,905.12987,201.587c1.84313,0,3.66317.09612,5.46442.25711a80.5744,80.5744,0,0,1,139.28388-.06586c1.51962-.11413,3.04946-.19125,4.59825-.19125a60.6453,60.6453,0,0,1,60.56127,57.47579" transform="translate(-84.96231 -101.26125)" fill="none" stroke="#3f3d56" stroke-miterlimit="10" /><path d="M155.9876,605.48825c5.45455-105.97956,93.1087-190.23237,200.44463-190.23237,6.10037,0,12.12431.31815,18.08607.851a266.68374,266.68374,0,0,1,460.99935-.218c5.0296-.37777,10.093-.633,15.21919-.633,107.33593,0,194.99008,84.25281,200.44463,190.23237" transform="translate(-84.96231 -101.26125)" fill="#f2f2f2" /><path d="M197.79373,590.04781c5.45455-105.97956,93.1087-190.23237,200.44464-190.23237,6.10036,0,12.1243.31815,18.08606.851a266.68374,266.68374,0,0,1,460.99935-.21795c5.0296-.37777,10.093-.633,15.21919-.633,107.33593,0,194.99009,84.25281,200.44463,190.23237" transform="translate(-84.96231 -101.26125)" fill="none" stroke="#3f3d56" stroke-miterlimit="10" /><path d="M84.96231,239.72788a82.05654,82.05654,0,0,1,81.94283-77.768c2.49387,0,4.95648.13007,7.39368.34789a109.02172,109.02172,0,0,1,188.459-.0891c2.05613-.15444,4.12609-.25879,6.22169-.25879a82.05654,82.05654,0,0,1,81.94283,77.768" transform="translate(-84.96231 -101.26125)" fill="#f2f2f2" /><path d="M102.05288,233.41575a82.05654,82.05654,0,0,1,81.94283-77.768c2.49386,0,4.95648.13007,7.39368.34788a109.02173,109.02173,0,0,1,188.459-.0891c2.05613-.15443,4.12609-.25878,6.22169-.25878a82.05654,82.05654,0,0,1,81.94283,77.768" transform="translate(-84.96231 -101.26125)" fill="none" stroke="#3f3d56" stroke-miterlimit="10" /><path d="M495.9876,336.92106s14,34-7,42c0,0,30,13,37,10s12-10,12-12-7-3-7-3-13,1-3-32Z" transform="translate(-84.96231 -101.26125)" fill="#fbbebe" /><circle cx="427.02529" cy="228.65981" r="25" fill="#fbbebe" /><ellipse cx="410.52529" cy="223.15981" rx="22" ry="31" fill="#ff6584" /><ellipse cx="394.52529" cy="213.15981" rx="22" ry="31" fill="#ff6584" /><ellipse cx="372.52529" cy="190.65981" rx="11" ry="15.5" fill="#ff6584" /><path d="M536.9876,372.92106s6-12,28-18,65-78,65-78-2-43,8-30,2,39,2,39l-25.80418,44.57085a97.08358,97.08358,0,0,1-17.8724,22.42615c-15.95376,14.84942-44.459,41.003-47.32342,41.003C544.9876,393.92106,536.9876,372.92106,536.9876,372.92106Z" transform="translate(-84.96231 -101.26125)" fill="#fbbebe" /><path d="M501.9876,543.92106s7,85,5,93-8,24,2,71-2,44-2,44l32,14s-11-54-9-69,1-46,7-67,7-80,7-80Z" transform="translate(-84.96231 -101.26125)" fill="#fbbebe" /><path d="M501.9876,543.92106s7,85,5,93-8,24,2,71-2,44-2,44l32,14s-11-54-9-69,1-46,7-67,7-80,7-80Z" transform="translate(-84.96231 -101.26125)" opacity="0.1" /><path d="M537.74261,755.1021c-2.47934,1.72219-8.84818,3.47-20.755-9.181,0,0-7-10-13,0s-2,11,2,16c3.86133,4.82665,34.74673,37.60925,47.6783,36.27827a6.16621,6.16621,0,0,0,1.3217-.27827c12-4-5-17-5-17s-11.14536-17.14671-11.20891-25.24382A.66759.66759,0,0,0,537.74261,755.1021Z" transform="translate(-84.96231 -101.26125)" fill="#3f3d56" /><path d="M477.9876,533.92106s-17,39-24,59c-3.675,10.5-14.79187,13.83375-24.52373,14.63175a83.87385,83.87385,0,0,0-34.26925,10.32726c-13.99626,7.85614-33.09469,16.77132-45.207,15.041-21-3-4,30-4,30s31-19,60-21,60-5,74-23,48-75,48-75Z" transform="translate(-84.96231 -101.26125)" fill="#fbbebe" /><path d="M346.9876,657.92106s-10-7-2-14,11-13,11-13-14-15-19-7-27,44-22,55,10,14,16,2,21.13216-21.44741,21.13216-21.44741Z" transform="translate(-84.96231 -101.26125)" fill="#3f3d56" /><path d="M532.9876,377.92106s-3.32428,6.64857-34.217.24731a18.97584,18.97584,0,0,0-20.908,9.75269c-3.875,7.75-4.375,19,9.125,33,0,0,24,27,12,38s57-7,57-7-9-6-1-24c6.28572-14.14286,5.78061-22.11225.91-28.27369a30.88363,30.88363,0,0,1-5.83871-13.04832c-1.36549-6.69413-4.73864-15.08281-13.07128-15.678,0,0-8.75922-.513-9.37961,1.74348S534.9876,376.92106,532.9876,377.92106Z" transform="translate(-84.96231 -101.26125)" fill="#000000" /><path d="M496.42583,399.13443c-.20653-1.4101-.45929-2.81119-.63632-4.2253-.60438-4.82791-2.89964-16.52583-10.84061-14.513-9.9613,2.52494-20.9613,27.52494-20.9613,27.52494s-9,28-22,35-49,43-49,43-30,8-19,16,25-5,25-5L434.3561,475.7a101.249,101.249,0,0,0,31.196-29.33114c7.36824-10.67142,16.59508-23.00458,22.442-27.07969a19.27945,19.27945,0,0,0,7.55716-9.8792A22.9342,22.9342,0,0,0,496.42583,399.13443Z" transform="translate(-84.96231 -101.26125)" fill="#fbbebe" /><path d="M504.9876,456.92106s-46-6-72,25-45,22-43,27,98,64,154,57c34.0927-4.26159,52.24808-8.15254,61.23541-10.54465a17.445,17.445,0,0,0,9.64045-6.46652,17.70419,17.70419,0,0,1,4.8741-4.4263,8.65554,8.65554,0,0,0,2.32826-12.21235c-15.85981-22.94586-58.91668-83.72865-71.07822-85.35018C535.9876,444.92106,504.9876,456.92106,504.9876,456.92106Z" transform="translate(-84.96231 -101.26125)" fill="#000000" /><ellipse cx="427.52529" cy="201.65981" rx="16" ry="11.5" fill="#ff6584" /><path d="M831.80443,200.44953a113.38769,113.38769,0,0,1,4.17018-15.5535c1.80736-4.94254,4.09325-9.15909,6.64158-9.15909,6.17815,0-21.62352-26.25714-21.62352-26.25714s-1.74515,3.24349-4.63361,7.61456a107.69871,107.69871,0,0,1-6.9195,9.42164,51.65324,51.65324,0,0,1-11.615,10.76547C785.46831,185.00416,831.80443,200.44953,831.80443,200.44953Z" transform="translate(-84.96231 -101.26125)" fill="#a0616a" /><path d="M913.60129,302.8337s61.93712,39.13288,42.853,45.5631-50.70024-39.54394-50.70024-39.54394Z" transform="translate(-84.96231 -101.26125)" fill="#a0616a" /><path d="M830.5248,213.9466s29.66413,21.631,38.33346,38.08562,53.7408,53.01994,53.7408,53.01994-9.30555,18.38594-13.80443,17.2767S811.544,252.21811,801.786,246.63065,806.90049,206.53108,830.5248,213.9466Z" transform="translate(-84.96231 -101.26125)" fill="#000000" /><path d="M830.5248,213.9466s29.66413,21.631,38.33346,38.08562,53.7408,53.01994,53.7408,53.01994-9.30555,18.38594-13.80443,17.2767S811.544,252.21811,801.786,246.63065,806.90049,206.53108,830.5248,213.9466Z" transform="translate(-84.96231 -101.26125)" opacity="0.1" /><path d="M918.29852,252.9638s69.50418,23.16806,52.51427,33.97982-58.69242-26.25713-58.69242-26.25713Z" transform="translate(-84.96231 -101.26125)" fill="#a0616a" /><path d="M873.50694,569.59394s29.34621-12.35629,26.25713,6.17815-16.98991,35.52436-16.98991,44.79158-26.25713,29.34621-30.89075,24.7126,7.72269-23.16806,4.63362-33.97982-6.17815-35.52436-6.17815-35.52436Z" transform="translate(-84.96231 -101.26125)" fill="#55536e" /><path d="M873.50694,569.59394s29.34621-12.35629,26.25713,6.17815-16.98991,35.52436-16.98991,44.79158-26.25713,29.34621-30.89075,24.7126,7.72269-23.16806,4.63362-33.97982-6.17815-35.52436-6.17815-35.52436Z" transform="translate(-84.96231 -101.26125)" opacity="0.1" /><path d="M864.23971,583.49478s29.34621-12.3563,26.25714,6.17815-16.98991,35.52436-16.98991,44.79158-26.25714,29.34621-30.89075,24.7126,7.72269-23.16806,4.63361-33.97982-6.17815-35.52436-6.17815-35.52436Z" transform="translate(-84.96231 -101.26125)" fill="#55536e" /><path d="M796.28007,470.74356s91.1277,86.49409,88.03863,94.21677-23.16806,24.7126-23.16806,24.7126S791.64646,498.54523,796.28007,470.74356Z" transform="translate(-84.96231 -101.26125)" fill="#3f3d56" /><path d="M796.28007,470.74356s91.1277,86.49409,88.03863,94.21677-23.16806,24.7126-23.16806,24.7126S791.64646,498.54523,796.28007,470.74356Z" transform="translate(-84.96231 -101.26125)" opacity="0.1" /><path d="M774.65655,314.74529s23.16806,23.16806,16.98991,67.95964,4.63361,88.03863,16.98991,101.93946,63.326,94.21678,63.326,94.21678-21.62352,35.52435-38.61343,16.98991-67.95964-94.21678-67.95964-94.21678S719.05321,410.5066,714.4196,385.794s-6.17815-63.326,6.17815-71.04872S774.65655,314.74529,774.65655,314.74529Z" transform="translate(-84.96231 -101.26125)" fill="#3f3d56" /><path d="M812.96108,161.97511c18.04019,3.73778,16.24853,4.46371,27.33831,8.356.06178-.18535.12356-.3398.18534-.49426,1.699-4.04668,2.76472,1.26653,5.22054,1.26653,6.17814,0-21.62353-26.25714-21.62353-26.25714s-1.05028,1.94612-2.85739,4.86529c-.54059.8495-1.12751,1.77622-1.77622,2.74928-.54059.8186-1.12751,1.68355-1.74533,2.57938Z" transform="translate(-84.96231 -101.26125)" opacity="0.1" /><circle cx="760.74295" cy="52.85217" r="29.34621" fill="#a0616a" /><path d="M791.64646,175.73694s44.79158,4.63361,54.05881,24.71259-57.14788,117.38484-61.7815,118.92937-69.50417,9.26723-69.50417,9.26723,3.08907-98.85039,63.326-135.91928C777.74563,192.72685,791.64646,186.5487,791.64646,175.73694Z" transform="translate(-84.96231 -101.26125)" fill="#000000" /><path d="M816.35906,186.5487s33.97982,13.90083,46.33612,27.80167,64.87056,38.61343,64.87056,38.61343-4.63361,20.079-9.26722,20.079S807.09183,228.2512,796.28007,225.16213,791.64646,185.00416,816.35906,186.5487Z" transform="translate(-84.96231 -101.26125)" fill="#000000" /><path d="M843.38846,157.97476s7.72269-7.72269-7.72269-13.90084c0,0,15.44538-6.17815,18.53445-15.44537s13.90084-24.7126,23.16806,0,26.25713,57.14788-29.34621,57.14788c0,0-13.90083,3.08907-13.90083-9.26722A23.16806,23.16806,0,0,1,843.38846,157.97476Z" transform="translate(-84.96231 -101.26125)" fill="#3f3d56" /></svg>
        </div>
    </div>
</div>

<div class="line"></div>

<br />
<h2>Features</h2>
<br />
<style>
    .feature-box {
        width: 300px;
        height: 200px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.45); 
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }

    .line {
        border-bottom: 1px solid #000000;
        width: 15%;
        margin: 20px 0;
    }
</style>
@* <ul>
    <li>Mood Tracking</li>
    <li>Personalized Insights</li>
    <li>Relaxation Techniques</li>
    <li>Guided Meditation</li>
    <li>Mental Health Resources</li>
</ul> *@
<div class="row">
    <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="588" height="377.20705" viewBox="0 0 888 677.20705" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="307.693 659.535 316.417 662.148 330.648 629.74 317.772 625.884 307.693 659.535" fill="#ffb8b8"/><path d="M462.32048,767.41626l17.18156,5.1462.00069.00021a11.43063,11.43063,0,0,1,7.66935,14.22912l-.10659.35581-28.13113-8.4259Z" transform="translate(-156 -111.39648)" fill="#2f2e41"/><polygon points="390.602 666.663 399.153 663.528 391.13 629.055 378.51 633.682 390.602 666.663" fill="#ffb8b8"/><path d="M543.39769,776.06729l16.83948-6.17423.00068-.00025a11.43063,11.43063,0,0,1,14.6658,6.79715l.12785.34873L547.46038,787.1476Z" transform="translate(-156 -111.39648)" fill="#2f2e41"/><polygon points="322.321 600.868 307.464 649.897 325.292 655.097 342.378 609.782 322.321 600.868" fill="#2f2e41"/><polygon points="369.121 612.011 382.493 658.068 401.064 649.154 387.693 606.068 369.121 612.011" fill="#2f2e41"/><path d="M518.16217,731.71429a203.9796,203.9796,0,0,1-35.45752-3.27034l-.298-.06021v-11.3301l-6.78986-.75447,5.29979-18.92774c-2.47016-29.16024,1.03993-66.08934,2.17563-76.71865.26025-2.49265.43146-3.89132.43146-3.89132l5.95867-50.64955,9.97024-9.20308,4.52936,2.94751,8.40181,8.40145c9.766,24.0342,17.51548,46.661,17.56426,48.11483l32.75141,104.95321-.2209.156C551.10618,729.50964,533.77044,731.71429,518.16217,731.71429Z" transform="translate(-156 -111.39648)" fill="#3f3d56"/><polygon points="337.708 477.181 335.418 491.475 350.921 497.87 337.708 477.181" opacity="0.2"/><path d="M524.12819,556.834H488.28426a2.78413,2.78413,0,0,1-2.781-2.781v-15.45a20.703,20.703,0,0,1,41.40592,0v15.45A2.78412,2.78412,0,0,1,524.12819,556.834Z" transform="translate(-156 -111.39648)" fill="#2f2e41"/><circle cx="354.16363" cy="429.32816" r="15.17868" fill="#ffb8b8"/><path d="M531.807,540.148H509.88932l-.22481-3.14673-1.12374,3.14673h-3.37485l-.4454-6.23672-2.22727,6.23672h-6.53018v-.309a16.39537,16.39537,0,0,1,16.37682-16.377H515.43a16.39549,16.39549,0,0,1,16.377,16.377Z" transform="translate(-156 -111.39648)" fill="#2f2e41"/><path d="M509.70994,559.718a2.84058,2.84058,0,0,1-.49216-.04345l-16.04911-2.83169V530.31841h17.667l-.4374.51c-6.08554,7.09733-1.50079,18.60574,1.77373,24.834a2.73982,2.73982,0,0,1-.21772,2.90894A2.76982,2.76982,0,0,1,509.70994,559.718Z" transform="translate(-156 -111.39648)" fill="#2f2e41"/><path d="M538.02851,623.82967h-8.79718a1.1313,1.1313,0,0,1-1.13-1.02492l-1.7609-18.04893h14.579l-1.7609,18.04871A1.13131,1.13131,0,0,1,538.02851,623.82967Z" transform="translate(-156 -111.39648)" fill="#000000"/><path d="M540.89615,607.02652H526.36369a1.13668,1.13668,0,0,1-1.13534-1.13535v-2.72484a1.13668,1.13668,0,0,1,1.13534-1.13534h14.53246a1.13668,1.13668,0,0,1,1.13535,1.13534v2.72484A1.13669,1.13669,0,0,1,540.89615,607.02652Z" transform="translate(-156 -111.39648)" fill="#2f2e41"/><path d="M483.8924,616.06358l0,0a27.88129,27.88129,0,0,0,33.46807,6.76478l3.30359-1.635Z" transform="translate(-156 -111.39648)" opacity="0.2"/><path d="M536.71057,612.5695a6.96579,6.96579,0,0,0-10.67635.32242l-15.32558-4.30242-4.88606,8.67563,21.728,5.77187a7.00355,7.00355,0,0,0,9.16-10.4675Z" transform="translate(-156 -111.39648)" fill="#ffb8b8"/><path d="M500.13852,622.19727c-7.28644.00072-17.14532-4.27146-28.84884-12.546a5.73089,5.73089,0,0,1-2.4134-3.92759c-.86328-5.46918,4.4715-12.863,4.99455-13.57174l5.60811-15.40061c.06456-.25028,1.87184-6.91355,6.409-9.28432a7.43841,7.43841,0,0,1,6.21386-.26479c8.6423,3.147,1.894,27.44817.96757,30.63508l11.45016,5.38938,7.27119,4.6349,9.95773,1.04175-2.70358,12.51186-15.12275.34024A15.43364,15.43364,0,0,1,500.13852,622.19727Z" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M1043.67468,508.05561A98.57951,98.57951,0,1,0,854.454,546.865c-.09637-.10718-.196-.21149-.29193-.31909a98.66626,98.66626,0,0,0,17.95428,27.78283c.0224.02466.04541.04871.06788.07337.60559.66,1.21466,1.31659,1.83782,1.9599a98.28006,98.28006,0,0,0,69.52936,30.25354l-3.33105,180.9292h10.29126l-2.08283-119.41541,14.88678-7.83758-2.27093-4.31354-12.711,6.692-.97791-56.06378A98.57812,98.57812,0,0,0,1043.67468,508.05561Z" transform="translate(-156 -111.39648)" fill="#e6e6e6"/><path d="M751.0871,460.00819a115.52648,115.52648,0,1,0-221.74982,45.4812c-.113-.12561-.22968-.24784-.3421-.37393a115.62807,115.62807,0,0,0,21.04083,32.559c.02625.02893.05322.05706.07959.086.70972.7735,1.42346,1.543,2.15375,2.29682a115.17561,115.17561,0,0,0,81.48224,35.45447l-3.90375,212.033h12.06042l-2.44091-139.94428,17.446-9.185-2.66138-5.05505-14.89618,7.84247-1.146-65.70178A115.52494,115.52494,0,0,0,751.0871,460.00819Z" transform="translate(-156 -111.39648)" fill="#e6e6e6"/><path d="M419.25891,414.8147A131.46683,131.46683,0,1,0,166.912,466.57142c-.12855-.14295-.26138-.282-.38931-.42551a131.58166,131.58166,0,0,0,23.944,37.05149c.02989.03289.06059.065.09055.09787.80763.88021,1.61988,1.75582,2.45091,2.61373a131.0676,131.0676,0,0,0,92.72516,40.3465L281.291,787.54475h13.72454L292.23788,628.291,312.091,617.83869l-3.02856-5.75256-16.95154,8.92456-1.30411-74.76727A131.465,131.465,0,0,0,419.25891,414.8147Z" transform="translate(-156 -111.39648)" fill="#e6e6e6"/><circle cx="756.68549" cy="85.97574" r="85.97575" fill="#ff6584"/><circle cx="245.55884" cy="187.61628" r="172.3117" fill="#000000"/><path d="M274.32944,183.92207A172.32513,172.32513,0,0,0,561.45166,366.29173,172.32654,172.32654,0,1,1,274.32944,183.92207Z" transform="translate(-156 -111.39648)" opacity="0.2" style="isolation:isolate"/><polygon points="246.032 187.616 246.506 187.616 255.027 676.148 237.038 676.148 246.032 187.616" fill="#3f3d56"/><rect x="401.08538" y="564.58106" width="32.19013" height="8.5209" transform="translate(-372.96557 148.44822) rotate(-27.76587)" fill="#3f3d56"/><path d="M665.11523,782.975s.62171-13.02673,13.3664-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><circle cx="505.51413" cy="652.80328" r="6.37865" fill="#000000"/><rect x="504.47623" y="663.54456" width="1.80054" height="12.60376" fill="#3f3d56"/><path d="M223.08289,781.17445s.62168-13.02674,13.36641-11.51258" transform="translate(-156 -111.39648)" fill="#3f3d56"/><circle cx="63.48181" cy="651.00275" r="6.37865" fill="#000000"/><rect x="62.44391" y="661.74402" width="1.80054" height="12.60376" fill="#3f3d56"/><path d="M327.51416,782.07471s.6217-13.02673,13.36642-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><circle cx="167.91309" cy="651.90302" r="6.37865" fill="#000000"/><rect x="166.87518" y="662.64429" width="1.80054" height="12.60376" fill="#3f3d56"/><path d="M605.24329,194.695l12.79486-10.23341c-9.93976-1.09662-14.02381,4.3243-15.69525,8.615-7.76532-3.22446-16.21882,1.00135-16.21882,1.00135l25.6001,9.29375A19.37211,19.37211,0,0,0,605.24329,194.695Z" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M799.827,298.93629l12.7948-10.23343c-9.93976-1.09662-14.02381,4.32431-15.69526,8.615-7.76532-3.22446-16.21881,1.00134-16.21881,1.00134l25.6001,9.29376A19.37241,19.37241,0,0,0,799.827,298.93629Z" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M589.95459,387.88883l12.7948-10.23343c-9.93976-1.09662-14.0238,4.32431-15.69525,8.615-7.76532-3.22445-16.21881,1.00138-16.21881,1.00138l25.60009,9.29373A19.37244,19.37244,0,0,0,589.95459,387.88883Z" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M839.65527,787.70325s.62171-13.02673,13.3664-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M719.91943,787.70325s.62171-13.02673,13.3664-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M283.2887,787.70325s.6217-13.02673,13.36642-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M893.67145,787.70325s.6217-13.02673,13.36639-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M868.46387,787.70325s.6217-13.02673,13.36639-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M816.465,787.70325s-.62171-13.02673-13.3664-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M609.40308,787.70325s-.62171-13.02673-13.3664-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M437.4516,787.70325s-.6217-13.02673-13.36643-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M254.69688,787.70325s-.6217-13.02673-13.36641-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M947.90442,787.70325s-.62171-13.02673-13.3664-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><path d="M870.4812,788.60352s-.6217-13.02673-13.36639-11.51257" transform="translate(-156 -111.39648)" fill="#3f3d56"/><rect y="674.60352" width="888" height="2" fill="#3f3d56"/></svg>
    </div>
    <div class="col">
    <div class="row">
        <div class="col">
        <div class="feature-box">
            <h4>Mood Tracking</h4>
            <p>Track your daily moods</p>
        </div>
        <br />
        </div>
    <div class="col">
        <div class="feature-box">
            <h4>Journals</h4>
            <p>Write down daily journals</p>
        </div>
        <br />
    </div>
    <div class="col">
        <div class="feature-box">
            <h4>Personalized Insights</h4>
            <p>Get insights based on your data, to improve wellbeing</p>
        </div>
        <br />
    </div>
    <div class="col">
        <div class="feature-box">
            <h4>Mental Health Resources</h4>
            <p>View free resources and blogs that can guide you</p>
        </div>
        <br />
    </div>
    <div class="col">
        <div class="feature-box">
            <h4>Chatbot and Recommendations</h4>
            <p>Based on your insights, get recommendations</p>
        </div>
        <br />
        </div>
    </div>
    </div>
</div>
<br />




@code {
    bool isLogged;
    UserInfo userInfo;
    bool isCheckingAuth = true;
    public static bool emailVerificationSent = false;
    public static string evSuccess;
    public static string evError;
    [Inject]
    NavigationManager NavigationManager { get; set; }

    public class UserInfo
    {
        [JsonProperty("sub")]
        public string Subject { get; set; }

        [JsonProperty("nickname")]
        public string Nickname { get; set; }

        [JsonProperty("name")]
        public string Name { get; set; }

        [JsonProperty("picture")]
        public string Picture { get; set; }

        [JsonProperty("updated_at")]
        public DateTime UpdatedAt { get; set; }

        [JsonProperty("email")]
        public string Email { get; set; }

        [JsonProperty("email_verified")]
        public bool EmailVerified { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            emailVerificationSent = false;
            evSuccess = "";
            evError = "";

            var authToken = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
            if (!string.IsNullOrEmpty(authToken))
            {
                if (authToken.Contains("ey"))
                {
                    Console.WriteLine("AuthToken retrieved from localStorage: " + authToken);

                    var tokenTTL = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "tokenTTL");
                    var timeDifference = DateTime.Now - DateTime.Parse(tokenTTL);

                    bool ttlExpired = Math.Abs(timeDifference.TotalMinutes) > 30;

                    if (!ttlExpired)
                    {
                        isLogged = true;
                        userInfo = await GetUserInfo(authToken);
                        StateHasChanged();
                    } else
                    {
                        NavigationManager.NavigateTo("/logout");
                    }
                }
                else
                {
                    isLogged = false;
                    StateHasChanged();
                }
            }
            else
            {
                Console.WriteLine("AuthToken not found in localStorage.");
                isLogged = false;
            }
            isCheckingAuth = false;
            StateHasChanged();
        }
    }

    public static async Task<UserInfo> GetUserInfo(string accessToken)
    {
        var userinfoEndpoint = "https://dev-pa3bipmqjbfbdc4d.us.auth0.com/userinfo";

        using (var httpClient = new HttpClient())
        {
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);

            var response = await httpClient.GetAsync(userinfoEndpoint);

            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                dynamic userJson = JsonConvert.DeserializeObject(responseContent);

                Console.WriteLine($"User retrieved as: {userJson}");

                UserInfo userInfo = userJson.ToObject<UserInfo>();
                return userInfo;
            }
            else
            {
                Console.WriteLine($"Error getting userinfo: {response.StatusCode}");
                return null;
            }
        }
    }

    public static async Task<bool> ResendEmailVerification(string userId)
    {
        emailVerificationSent = true;

        try
        {
            var authToken = await GetTokenFromAuth();

            using (var client = new HttpClient())
            {
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken.access_token);

                var content = new StringContent($"{{\"user_id\":\"{userId}\",\"client_id\":\"bUPQBV3ZgatRowJgPIfpKQhnddlrjO8B\"}}", Encoding.UTF8, "application/json");

                using (var response = await client.PostAsync("https://dev-pa3bipmqjbfbdc4d.us.auth0.com/api/v2/jobs/verification-email", content))
                {
                    response.EnsureSuccessStatusCode();

                    var responseContent = await response.Content.ReadAsStringAsync();
                    Console.WriteLine(responseContent);
                    evSuccess = "Verification email has been successfully sent.";


                    return true;
                }
            }
        }
        catch (Exception ex)
        {
            emailVerificationSent = false;
            Console.WriteLine($"Error: {ex.Message}");
            evError = $"Error: {ex.Message}";
            return false;
        }
    }

}
