@page "/login"
<PageTitle>Login</PageTitle>

<div class="container">
    <h1>Login</h1>

    <div class="col-md-6">
        <p>Authentication powered by Okta Auth0</p>
    </div>

    <button class="btn btn-primary" @onclick="_Login" disabled="@processRegistration">Secure Login with Auth0</button>

</div>



@code {
    private bool processRegistration = false;

    [Inject]
    NavigationManager NavigationManager { get; set; }

    private async void _Login(){
        processRegistration = true;
        var authorizeUrl = $"https://dev-pa3bipmqjbfbdc4d.us.auth0.com/authorize" +
    $"?response_type=code" +
    $"&client_id=bUPQBV3ZgatRowJgPIfpKQhnddlrjO8B" +
    $"&redirect_uri=https://ameyplayground.azurewebsites.net/login";
        NavigationManager.NavigateTo(authorizeUrl);
    }
}
