@page "/login"
@inject IJSRuntime JS
<PageTitle>Login</PageTitle>

<div class="container">
    <h1>Login</h1>

    <div class="col-md-6">
        <p>Authentication powered by Okta Auth0</p>
    </div>

    <button class="btn btn-primary" @onclick="_Login" disabled="@processRegistration">Secure Login with Auth0</button>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success mt-3" role="alert">
            Login successful. Redirecting you to dashboard in @timeLeft, if you're not automatically redirected
            <a href="/dashboard?refresh=@DateTime.Now.Ticks">click here.</a>
        </div>
    }
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @errorMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(authMessage))
    {
        <div class="alert alert-info mt-3" role="alert">
            Please wait, authenticating from Auth0. Do not click refresh or go back.
        </div>
    }

</div>



@code {
    private bool processRegistration = false;
    private bool codeExists = false;
    string CodeParameter;
    string errorMessage;
    string successMessage;
    bool userAuthTokenInvoked;
    string userAuthToken;
    private System.Timers.Timer timer;
    private int timeLeft = 5;
    HomePage.UserInfo userInfo;
    string authMessage;

    [Inject]
    NavigationManager NavigationManager { get; set; }
    [Inject]
    private IConfiguration Configuration { get; set; }

    private async void _Login()
    {
        processRegistration = true;


        if (Configuration["isSandbox"] != "true")
        {
            var authorizeUrl = $"https://dev-pa3bipmqjbfbdc4d.us.auth0.com/authorize" +
        $"?response_type=code" +
        $"&client_id=bUPQBV3ZgatRowJgPIfpKQhnddlrjO8B" +
        $"&redirect_uri=https://ameyplayground.azurewebsites.net/login" +
            $"&scope=openid profile email";
            NavigationManager.NavigateTo(authorizeUrl);
        } else
        {
            var authorizeUrl = $"https://dev-pa3bipmqjbfbdc4d.us.auth0.com/authorize" +
        $"?response_type=code" +
$"&client_id=bUPQBV3ZgatRowJgPIfpKQhnddlrjO8B" +
    $"&redirect_uri=https://localhost:7134/login" +
    $"&scope=openid profile email";
            NavigationManager.NavigateTo(authorizeUrl);
        }
    } 

    protected override async void OnAfterRender(bool firstRender)
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        CodeParameter = queryParams["code"];

        if (firstRender && !string.IsNullOrEmpty(CodeParameter))
        {
            processRegistration = true;
            userAuthToken = await GetAuthToken(CodeParameter);
            if (userAuthToken != null)
            {
                JS.InvokeVoidAsync("localStorage.setItem", "authToken", $"{userAuthToken}");

                if (userAuthToken.Contains("ey"))
                {
                    authMessage = "true";
                    StateHasChanged();

                    userInfo = await HomePage.GetUserInfo(userAuthToken);
                    JS.InvokeVoidAsync("localStorage.setItem", "userId", $"{userInfo.Subject}");
                    JS.InvokeAsync<string>("localStorage.setItem", "tokenTTL", DateTime.Now);


                    Container userContainer = await CosmosOperations.ConnectToCosmosUserDB();
                    var userExistsInCosmos = await CosmosOperations.CheckIfUserExists(userContainer, userInfo.Subject);

                    if (!userExistsInCosmos)
                    {
                        await CosmosOperations.CreateUser(userContainer, userInfo.Email, userInfo.Nickname, userInfo.Picture, userInfo.Subject);
                    }

                    authMessage = "";
                    successMessage = "true";
                    StateHasChanged();
                    timer = new System.Timers.Timer();
                    timer.Interval = 1000;
                    timer.AutoReset = true;
                    timer.Elapsed += TimerElapsed;
                    timer.Start();
                } else
                {
                    errorMessage = $"Login failed. {userAuthToken}";
                }
            } else
            {
                errorMessage = $"Login failed. The auth token retrieved was null";
            }
            StateHasChanged();
        }
        else if (!string.IsNullOrEmpty(userAuthToken) && !string.IsNullOrEmpty(CodeParameter))
        {
            JS.InvokeVoidAsync("localStorage.setItem", "authToken", $"{userAuthToken}");
        }
    }

    private void TimerElapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        if (timeLeft > 0)
        {
            timeLeft--;
            InvokeAsync(StateHasChanged);
        }
        else
        {
            timer.Stop();
            NavigationManager.NavigateTo("/dashboard", forceLoad: true);
        }
    }
    public void Dispose()
    {
        timer.Dispose();
    }

    protected override async void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        CodeParameter = queryParams["code"];
        if (!string.IsNullOrEmpty(CodeParameter))
        {
            processRegistration = true;
        }
    }

    private async Task<String> GetAuthToken(string code)
    {
        string redirectUri;
        var tokenEndpoint = $"https://dev-pa3bipmqjbfbdc4d.us.auth0.com/oauth/token";
        if (Configuration["isSandbox"] != "true")
        {
            redirectUri = "https://ameyplayground.azurewebsites.net/login";
        } else
        {
            redirectUri = "https://localhost:7134/login";
        }

        var requestContent = new FormUrlEncodedContent(new[]
        {
            new KeyValuePair<string, string>("grant_type", "authorization_code"),
            new KeyValuePair<string, string>("client_id", "bUPQBV3ZgatRowJgPIfpKQhnddlrjO8B"),
            new KeyValuePair<string, string>("client_secret", "3O4ilQ71uKmdXM1g4H2-hWKbcuxD1NuiLNntx_oMtgoqTDeQi1P8BRtQ7c7b29y7"),
            new KeyValuePair<string, string>("code", code),
            new KeyValuePair<string, string>("redirect_uri", $"{redirectUri}")
        });

        using (HttpClient httpClient = new HttpClient())
        {

            var response = await httpClient.PostAsync(tokenEndpoint, requestContent);

            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                dynamic json = Newtonsoft.Json.JsonConvert.DeserializeObject(responseContent);
                //JS.InvokeVoidAsync("localStorage.setItem", "authToken", json.access_token);
                return json.access_token;
            }
            else
            {
                // Handle error
                Console.WriteLine($"Error authenticating: {response.StatusCode}");
                return null;
            }
        }
    }
}
