@page "/logout"
@inject IJSRuntime JSRuntime


<div class="alert alert-success mt-3" role="alert">
    @logoutText
</div>



@code {
    [Inject]
    NavigationManager NavigationManager { get; set; }

    string logoutText;

    protected override async void OnInitialized()
    {
        logoutText = "Logging out.. Please wait.";
        StateHasChanged();

        var authTokenExists = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");

        if (authTokenExists != null)
        {

            var authToken = await JSRuntime.InvokeAsync<string>("localStorage.removeItem", "authToken");
            if (authToken == null)
            {
                logoutText = "You've logged out successfully!";
                StateHasChanged();
                NavigationManager.NavigateTo("/", forceLoad: true);
            } 
        } else
        {
            logoutText = "You need to login, in order to logout. So you're in the wrong place :)";
            StateHasChanged();
        }

    }
}
